.ace_editor  {
  height : 200px;
  font-size: 16px !important;
  z-index : 1;
}

.dialog-result{
  width : 100%;
}

@media all and (min-width: 800px){
  .dialog-result{
    width : 80%;
  }
}

.fixed-toolbar{
  position : fixed;
  top:0;
  background-color : white;
  z-index : 2;
}