<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        {{ app.title }}
        <span flex></span>

        <md-button>
            Help
        </md-button>
        <md-button class="md-button-colored" ng-click="app.submitCode($event)">
            Submit code
        </md-button>
    </div>
</md-toolbar>
<md-content class="md-content-padding">
    <p>
        {{ app.assessment.instructions }}
    </p>

    <div ui-ace="app.aceConfig" ng-model="app.exercise.code">

    </div>
</md-content>