<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        {{ Assessments.current.title }}
        <span flex></span>
        <md-button ng-if="false">
            Help
        </md-button>
        <md-button class="md-button-colored" ng-click="Submissions.submitCurrent()">
            Submit code
        </md-button>
    </div>
</md-toolbar>

<md-content class="md-content-padding">

    <p>
        {{ Assessments.current.instructions }}
    </p>

    <code-editor></code-editor>

    <submission-result></submission-result>

</md-content>